{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Suppliers</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Contact Info</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contact_info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
