{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Transactions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>User</th>
                    <th>Transaction Type</th>
                    <th>Quantity</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.product.name }}</td>
                    <td>{{ transaction.user.username }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
